In [108]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [109]:
import pandas as pd

In [110]:
import os
os.getcwd()

'C:\\Users\\ASUS\\Desktop\\Data Analytics Bootcamp\\Day 6'

In [111]:
os.chdir(r"C:\Users\ASUS\Desktop\Data Analytics Bootcamp\Day 6")

In [112]:
donors_data = pd.read_excel(r"donors_data.xlsx")

In [113]:
receiver_data = pd.read_excel(r"redemption_data.xlsx")

In [114]:
donors_data.head()

,Sr No.,Reference No (URN),Journal Date,Date of\nPurchase,Date of Expiry,Name of the Purchaser,Prefix,Bond\nNumber,Denominations,Issue Branch Code,Issue Teller,Status
0,1,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11448,1000000,1,5899230,Paid
1,2,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11447,1000000,1,5899230,Paid
2,3,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11441,1000000,1,5899230,Paid
3,4,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,OL,1113,100000,1,5899230,Paid
4,5,00001201904120000001166,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,OL,1118,100000,1,5899230,Paid

In [115]:
receiver_data.head()

,Sr No.,Date of\nEncashment,Name of the Political Party,Account no. of\nPolitical Party,Prefix,Bond\nNumber,Denominations,Pay Branch\nCode,Pay Teller
0,1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
1,2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121
2,3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121
3,4,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800,2770121
4,5,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121

In [116]:
donors_data.columns

Index(['Sr No.', 'Reference No  (URN)', 'Journal Date', 'Date of\nPurchase',
       'Date of Expiry', 'Name of the Purchaser', 'Prefix', 'Bond\nNumber',
       'Denominations', 'Issue Branch Code', 'Issue Teller', 'Status'],
      dtype='object')

In [117]:
donors_data.rename(columns={'Reference No  (URN)':'ref_no','Date of\nPurchase':'purchase_date','Bond\nNumber':'bond_no','Denominations':'bond_amount'},inplace=True)

In [118]:
donors_data.columns

Index(['Sr No.', 'ref_no', 'Journal Date', 'purchase_date', 'Date of Expiry',
       'Name of the Purchaser', 'Prefix', 'bond_no', 'bond_amount',
       'Issue Branch Code', 'Issue Teller', 'Status'],
      dtype='object')

In [119]:
#another way to assign the column names
#donors_data.column['name_1','name_2',....]

In [120]:
receiver_data.columns

Index(['Sr No.', 'Date of\nEncashment', 'Name of the Political Party',
       'Account no. of\nPolitical Party', 'Prefix', 'Bond\nNumber',
       'Denominations', 'Pay Branch\nCode', 'Pay Teller'],
      dtype='object')

In [121]:
receiver_data.rename(columns={'Bond\nNumber':'bond_no','Date of\nEncashment':'enchash_date','Pay Branch\nCode':'branch_code'},inplace=True)

In [122]:
receiver_data.columns

Index(['Sr No.', 'enchash_date', 'Name of the Political Party',
       'Account no. of\nPolitical Party', 'Prefix', 'bond_no', 'Denominations',
       'branch_code', 'Pay Teller'],
      dtype='object')

In [123]:
donors_data.shape

(18871, 12)

In [124]:
#total amount of bond value which is bought
total_amount=donors_data['bond_amount'].sum()
total_amount_in_cr=total_amount/100000000
total_amount_in_cr=round(total_amount_in_cr,2)
print("Total amount of electron bond which is bought is ",total_amount_in_cr,"Cr")

Total amount of electron bond which is bought is  1215.55 Cr

In [125]:
# sort by bond amount
donors_data.sort_values(by='bond_amount').head()

,Sr No.,ref_no,Journal Date,purchase_date,Date of Expiry,Name of the Purchaser,Prefix,bond_no,bond_amount,Issue Branch Code,Issue Teller,Status
1831,1832,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OT,5017,1000,1,5899230,Paid
1842,1843,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OT,5013,1000,1,5899230,Paid
1843,1844,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OT,5012,1000,1,5899230,Paid
1844,1845,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OT,5018,1000,1,5899230,Paid
15879,15880,01355202310110000003394,2023-10-11,2023-10-11,2023-10-25,BHACHIBEN KHAMUBHAI MANVAR,OT,20076,1000,1355,5120497,Paid

In [126]:
#sort the data based on the bond_amount but in descending woth some particular columns only
donors_data.sort_values(by='bond_amount',ascending=False)[['Name of the Purchaser','bond_amount']].head()

                     Name of the Purchaser  bond_amount
9435   FUTURE GAMING AND HOTEL SERVICES PR     10000000
10946                WELSPUN INDIA LIMITED     10000000
10934                      VEDANTA LIMITED     10000000
10935                      VEDANTA LIMITED     10000000
10936                      VEDANTA LIMITED     10000000

In [127]:
#data selection based on multiple condition
#information about the company called ITC LIMITED
donors_data[(donors_data['Name of the Purchaser'])=="ITC LIMITED"].head()

,Sr No.,ref_no,Journal Date,purchase_date,Date of Expiry,Name of the Purchaser,Prefix,bond_no,bond_amount,Issue Branch Code,Issue Teller,Status
1799,1800,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4698,10000000,1,5899230,Paid
1800,1801,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4686,10000000,1,5899230,Paid
1801,1802,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4700,10000000,1,5899230,Paid
1802,1803,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,7361,10000000,1,5899230,Paid
1803,1804,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4682,10000000,1,5899230,Paid

In [128]:
len(donors_data[(donors_data['Name of the Purchaser'])=="ITC LIMITED"].head())

5

In [129]:
#mulitple condition like purcharser should be itc and bond_amount should be greater than or equal to 1cr
donors_data[(donors_data['Name of the Purchaser']=="ITC LIMITED") & (donors_data['bond_amount']>=10000000)]

,Sr No.,ref_no,Journal Date,purchase_date,Date of Expiry,Name of the Purchaser,Prefix,bond_no,bond_amount,Issue Branch Code,Issue Teller,Status
1799,1800,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4698,10000000,1,5899230,Paid
1800,1801,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4686,10000000,1,5899230,Paid
1801,1802,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4700,10000000,1,5899230,Paid
1802,1803,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,7361,10000000,1,5899230,Paid
1803,1804,00001201905080000001375,2019-05-08,2019-05-08,2019-05-22,ITC LIMITED,OC,4682,10000000,1,5899230,Paid

In [130]:
len(donors_data[(donors_data['Name of the Purchaser']=="ITC LIMITED") & (donors_data['bond_amount']>=10000000)])

5

In [131]:
#unique value
donors_data['Name of the Purchaser'].unique()

array(['A B C INDIA LIMITED',
       'ACROPOLIS MAINTENANCE SERVICES PRIVATE LIMITED',
       'ARIHANT ENTERPRISES', ..., 'VEDIKA VANIJYA PVT LTD-SELF A/C',
       'VIDUR GUPTA', 'VIHAAN AUTO VENTURES PRIVATE LIMITED'],
      dtype=object)

In [132]:
donors_data['bond_amount'].unique()

array([ 1000000,   100000, 10000000,     1000,    10000], dtype=int64)

In [133]:
receiver_data.columns

Index(['Sr No.', 'enchash_date', 'Name of the Political Party',
       'Account no. of\nPolitical Party', 'Prefix', 'bond_no', 'Denominations',
       'branch_code', 'Pay Teller'],
      dtype='object')

In [134]:
receiver_data['Name of the Political Party'].value_counts()

Name of the Political Party
BHARATIYA JANATA PARTY                                          8633
ALL INDIA TRINAMOOL CONGRESS                                    3305
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                         3146
BHARAT RASHTRA SAMITHI                                          1806
BIJU JANATA DAL                                                  861
DRAVIDA MUNNETRA KAZHAGAM (DMK)                                  648
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CONGRESS PARTY)     472
SHIVSENA                                                         355
TELUGU DESAM PARTY                                               279
AAM AADMI PARTY                                                  245
RASHTRIYA JANTA DAL                                              150
NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH                   121
JANATA DAL ( SECULAR )                                            75
SIKKIM KRANTIKARI MORCHA                                          50
ADYAKSHA SAMAJVADI PARTY                                          46
JHARKHAND MUKTI MORCHA                                            45
JANASENA PARTY                                                    39
ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM                          38
SHIROMANI AKALI DAL                                               33
MAHARASHTRAWADI GOMNTAK PARTY                                     28
GOA FORWARD PARTY                                                 17
BIHAR PRADESH JANTA DAL(UNITED)                                   14
SIKKIM DEMOCRATIC FRONT                                           10
JAMMU AND KASHMIR NATIONAL CONFERENCE                              5
Name: count, dtype: int64

In [135]:
receiver_data.isnull().sum()

Sr No.                             0
enchash_date                       0
Name of the Political Party        0
Account no. of\nPolitical Party    0
Prefix                             0
bond_no                            0
Denominations                      0
branch_code                        0
Pay Teller                         0
dtype: int64

In [136]:
donors_data.isnull().sum()

Sr No.                   0
ref_no                   0
Journal Date             0
purchase_date            0
Date of Expiry           0
Name of the Purchaser    0
Prefix                   0
bond_no                  0
bond_amount              0
Issue Branch Code        0
Issue Teller             0
Status                   0
dtype: int64

In [137]:
donors_data.columns

Index(['Sr No.', 'ref_no', 'Journal Date', 'purchase_date', 'Date of Expiry',
       'Name of the Purchaser', 'Prefix', 'bond_no', 'bond_amount',
       'Issue Branch Code', 'Issue Teller', 'Status'],
      dtype='object')

In [138]:
donors_data.drop(['ref_no'],axis=1,inplace=True)

In [139]:
donors_data.columns

Index(['Sr No.', 'Journal Date', 'purchase_date', 'Date of Expiry',
       'Name of the Purchaser', 'Prefix', 'bond_no', 'bond_amount',
       'Issue Branch Code', 'Issue Teller', 'Status'],
      dtype='object')

In [140]:
donors_data['Status'].unique()

array(['Paid', 'Expired'], dtype=object)

In [141]:
receiver_data.groupby(['Name of the Political Party'])['Denominations'].sum()

Name of the Political Party
AAM AADMI PARTY                                                   654500000
ADYAKSHA SAMAJVADI PARTY                                          140500000
ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM                           60500000
ALL INDIA TRINAMOOL CONGRESS                                    16095314000
BHARAT RASHTRA SAMITHI                                          12147099000
BHARATIYA JANATA PARTY                                          60605111000
BIHAR PRADESH JANTA DAL(UNITED)                                   140000000
BIJU JANATA DAL                                                  7755000000
DRAVIDA MUNNETRA KAZHAGAM (DMK)                                  6390000000
GOA FORWARD PARTY                                                   3500000
JAMMU AND KASHMIR NATIONAL CONFERENCE                               5000000
JANASENA PARTY                                                    210000000
JANATA DAL ( SECULAR )                                            435000000
JHARKHAND MUKTI MORCHA                                            135000000
MAHARASHTRAWADI GOMNTAK PARTY                                       5500000
NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH                    310000000
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                         14218655000
RASHTRIYA JANTA DAL                                               735000000
SHIROMANI AKALI DAL                                                72600000
SHIVSENA                                                         1593814000
SIKKIM DEMOCRATIC FRONT                                            55000000
SIKKIM KRANTIKARI MORCHA                                          365000000
TELUGU DESAM PARTY                                               2188800000
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CONGRESS PARTY)     3370000000
Name: Denominations, dtype: int64

In [142]:
party_with_fund = pd.DataFrame(receiver_data.groupby(['Name of the Political Party'])['Denominations'].sum())

In [143]:
party_with_fund.columns

Index(['Denominations'], dtype='object')

In [144]:
party_with_fund.reset_index(inplace=True)

In [145]:
party_with_fund.columns

Index(['Name of the Political Party', 'Denominations'], dtype='object')

In [146]:
x=party_with_fund['Denominations']
x1=x/10000000
x1=round(x1,2)
print(x1,"Cr")

0       65.45
1       14.05
2        6.05
3     1609.53
4     1214.71
5     6060.51
6       14.00
7      775.50
8      639.00
9        0.35
10       0.50
11      21.00
12      43.50
13      13.50
14       0.55
15      31.00
16    1421.87
17      73.50
18       7.26
19     159.38
20       5.50
21      36.50
22     218.88
23     337.00
Name: Denominations, dtype: float64 Cr

In [147]:
party_with_fund

                          Name of the Political Party  Denominations
0                                     AAM AADMI PARTY      654500000
1                            ADYAKSHA SAMAJVADI PARTY      140500000
2            ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM       60500000
3                        ALL INDIA TRINAMOOL CONGRESS    16095314000
4                              BHARAT RASHTRA SAMITHI    12147099000
5                              BHARATIYA JANATA PARTY    60605111000
6                     BIHAR PRADESH JANTA DAL(UNITED)      140000000
7                                     BIJU JANATA DAL     7755000000
8                     DRAVIDA MUNNETRA KAZHAGAM (DMK)     6390000000
9                                   GOA FORWARD PARTY        3500000
10              JAMMU AND KASHMIR NATIONAL CONFERENCE        5000000
11                                     JANASENA PARTY      210000000
12                             JANATA DAL ( SECULAR )      435000000
13                             JHARKHAND MUKTI MORCHA      135000000
14                      MAHARASHTRAWADI GOMNTAK PARTY        5500000
15     NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH      310000000
16            PRESIDENT, ALL INDIA CONGRESS COMMITTEE    14218655000
17                                RASHTRIYA JANTA DAL      735000000
18                                SHIROMANI AKALI DAL       72600000
19                                           SHIVSENA     1593814000
20                            SIKKIM DEMOCRATIC FRONT       55000000
21                           SIKKIM KRANTIKARI MORCHA      365000000
22                                 TELUGU DESAM PARTY     2188800000
23  YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU C...     3370000000

In [148]:
donors_data.head()

,Sr No.,Journal Date,purchase_date,Date of Expiry,Name of the Purchaser,Prefix,bond_no,bond_amount,Issue Branch Code,Issue Teller,Status
0,1,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11448,1000000,1,5899230,Paid
1,2,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11447,1000000,1,5899230,Paid
2,3,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11441,1000000,1,5899230,Paid
3,4,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,OL,1113,100000,1,5899230,Paid
4,5,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,OL,1118,100000,1,5899230,Paid

In [149]:
receiver_data.head()

,Sr No.,enchash_date,Name of the Political Party,Account no. of\nPolitical Party,Prefix,bond_no,Denominations,branch_code,Pay Teller
0,1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
1,2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121
2,3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121
3,4,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,10418,1000000,800,2770121
4,5,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121

In [150]:
#joining 2 tables using inner join
combined_data=pd.merge(donors_data,receiver_data,on="bond_no",how="inner")

combined_data.head()

In [151]:
combined_data

,Sr No._x,Journal Date,purchase_date,Date of Expiry,Name of the Purchaser,Prefix_x,bond_no,bond_amount,Issue Branch Code,Issue Teller,Status,Sr No._y,enchash_date,Name of the Political Party,Account no. of\nPolitical Party,Prefix_y,Denominations,branch_code,Pay Teller
0,1,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11448,1000000,1,5899230,Paid,2766,2019-04-25,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,3300196
1,1,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11448,1000000,1,5899230,Paid,12752,2022-11-18,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE",*******4012,OC,10000000,691,8212066
2,11034,2022-11-15,2022-11-15,2022-11-29,IFB AGRO INDUSTRIES LIMITED,OC,11448,10000000,1,5054982,Paid,2766,2019-04-25,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,3300196
3,11034,2022-11-15,2022-11-15,2022-11-29,IFB AGRO INDUSTRIES LIMITED,OC,11448,10000000,1,5054982,Paid,12752,2022-11-18,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE",*******4012,OC,10000000,691,8212066
4,2,2019-04-12,2019-04-12,2019-04-26,A B C INDIA LIMITED,TL,11447,1000000,1,5899230,Paid,2767,2019-04-25,BHARATIYA JANATA PARTY,*******8244,TL,1000000,691,3300196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28772,18861,2024-01-11,2024-01-11,2024-01-25,WESTERN UP POWER TRANSMISSION COMPANY LI MITED,OC,17091,10000000,847,6458726,Paid,20094,2024-01-16,TELUGU DESAM PARTY,*******3067,OC,10000000,847,6391354
28773,18862,2024-01-11,2024-01-11,2024-01-25,WESTERN UP POWER TRANSMISSION COMPANY LI MITED,OC,17087,10000000,847,6458726,Paid,20095,2024-01-16,TELUGU DESAM PARTY,*******3067,OC,10000000,847,6391354
28774,18863,2024-01-11,2024-01-11,2024-01-25,WESTERN UP POWER TRANSMISSION COMPANY LI MITED,OC,17065,10000000,847,6458726,Paid,20096,2024-01-16,TELUGU DESAM PARTY,*******3067,OC,10000000,847,6391354
28775,18864,2024-01-11,2024-01-11,2024-01-25,WESTWELL GASES PRIVATE LIMITED,OC,17801,10000000,1,5898161,Paid,20397,2024-01-23,DRAVIDA MUNNETRA KAZHAGAM (DMK),*******8935,OC,10000000,800,1011942
28776,18870,2024-01-11,2024-01-11,2024-01-25,WESTWELL GASES PRIVATE LIMITED,OC,17803,10000000,1,5898161,Paid,20403,2024-01-23,DRAVIDA MUNNETRA KAZHAGAM (DMK),*******8935,OC,10000000,800,1011942

In [152]:
combined_data.columns

Index(['Sr No._x', 'Journal Date', 'purchase_date', 'Date of Expiry',
       'Name of the Purchaser', 'Prefix_x', 'bond_no', 'bond_amount',
       'Issue Branch Code', 'Issue Teller', 'Status', 'Sr No._y',
       'enchash_date', 'Name of the Political Party',
       'Account no. of\nPolitical Party', 'Prefix_y', 'Denominations',
       'branch_code', 'Pay Teller'],
      dtype='object')

In [153]:
corr_info=combined_data[['Name of the Purchaser','bond_no','bond_amount','Name of the Political Party']]

In [154]:
corr_info.head()

,Name of the Purchaser,bond_no,bond_amount,Name of the Political Party
0,A B C INDIA LIMITED,11448,1000000,BHARATIYA JANATA PARTY
1,A B C INDIA LIMITED,11448,1000000,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE"
2,IFB AGRO INDUSTRIES LIMITED,11448,10000000,BHARATIYA JANATA PARTY
3,IFB AGRO INDUSTRIES LIMITED,11448,10000000,"PRESIDENT, ALL INDIA CONGRESS COMMITTEE"
4,A B C INDIA LIMITED,11447,1000000,BHARATIYA JANATA PARTY

In [155]:
# top donors of BJP
bjp_data=corr_info[corr_info['Name of the Political Party']=="BHARATIYA JANATA PARTY"]

In [156]:
bjp_data.head()

,Name of the Purchaser,bond_no,bond_amount,Name of the Political Party
0,A B C INDIA LIMITED,11448,1000000,BHARATIYA JANATA PARTY
2,IFB AGRO INDUSTRIES LIMITED,11448,10000000,BHARATIYA JANATA PARTY
4,A B C INDIA LIMITED,11447,1000000,BHARATIYA JANATA PARTY
6,WESTWELL GASES PRIVATE LIMITED,11447,10000000,BHARATIYA JANATA PARTY
8,A B C INDIA LIMITED,11441,1000000,BHARATIYA JANATA PARTY

In [157]:
bjp_data.shape

(11527, 4)

In [158]:
grouped_data=bjp_data.groupby('Name of the Purchaser')['bond_amount'].sum()

In [159]:
top_5_bjp_donors=grouped_data.sort_values(ascending=False).head()

In [160]:
top_5_bjp_donors

Name of the Purchaser
MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED    6010000000
QWIKSUPPLYCHAINPRIVATELIMITED                     5640000000
VEDANTA LIMITED                                   3229500000
BHARTI AIRTEL LIMITED                             1860000000
MADANLAL LTD.                                     1820000000
Name: bond_amount, dtype: int64

In [161]:
top_5_bjp_donors=top_5_bjp_donors.reset_index()

In [162]:
top_5_bjp_donors

                            Name of the Purchaser  bond_amount
0  MEGHA ENGINEERING AND INFRASTRUCTURES LI MITED   6010000000
1                   QWIKSUPPLYCHAINPRIVATELIMITED   5640000000
2                                 VEDANTA LIMITED   3229500000
3                           BHARTI AIRTEL LIMITED   1860000000
4                                   MADANLAL LTD.   1820000000

In [163]:
top_5_bjp_donors.to_csv(r"top_5_bjp_donors.csv")

In [164]:
unique_bond_no_in_receiver_data=receiver_data['bond_no'].unique()

In [165]:
unique_bond_no_in_receiver_data=list(unique_bond_no_in_receiver_data)

In [166]:
unique_bond_no_in_donors_data=donors_data['bond_no'].unique()

In [167]:
unique_bond_no_in_donors_data=list(unique_bond_no_in_donors_data)

In [168]:
difference = set(unique_bond_no_in_receiver_data)-set(unique_bond_no_in_donors_data)

In [194]:
print(difference, "")

{23610, 23611, 23612, 4112, 4114, 23613, 4116, 4118, 4120, 4122, 4124, 23615, 4126, 4128, 4130, 4132, 4134, 4136, 2092, 2094, 2096, 4145, 2098, 4147, 2100, 4149, 2102, 2104, 6201, 2106, 6202, 2108, 6203, 2110, 6204, 2112, 6205, 2114, 6206, 2116, 6207, 2118, 6208, 2120, 2121, 2122, 75, 2123, 2124, 78, 2125, 2126, 2127, 2128, 83, 2129, 2131, 2133, 2134, 88, 2137, 2135, 2139, 2138, 2141, 2142, 2143, 93, 2145, 97, 2147, 2148, 2149, 2150, 103, 2144, 2146, 2154, 2152, 108, 2156, 110, 4201, 4203, 113, 4205, 4207, 116, 4209, 118, 4211, 120, 4213, 122, 4215, 124, 4217, 126, 4219, 128, 4221, 4223, 131, 4225, 4227, 4229, 4231, 6276, 4233, 6277, 4235, 23636, 4237, 142, 4239, 23637, 23638, 23639, 23640, 158, 160, 162, 164, 168, 174, 4271, 4272, 4273, 4274, 179, 4276, 4277, 187, 4287, 4289, 4291, 4293, 4295, 4297, 4299, 4301, 4303, 4305, 4307, 4309, 4311, 4312, 4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321, 4322, 4323, 4325, 4327, 4329, 4330, 4331, 4332, 4333, 4334, 4335, 4336, 4337, 4338, 4339, 4340, 4341, 4342, 4343, 4344, 4345, 4346, 4347, 4348, 4349, 4350, 2342, 2362, 2364, 2366, 2368, 2370, 4432, 4433, 23622, 4452, 23625, 23623, 6662, 4488, 23624, 4508, 4511, 4512, 4513, 4514, 4515, 4516, 4517, 4518, 4519, 4520, 4521, 4522, 4523, 4524, 4525, 4526, 4527, 4528, 4529, 4530, 4531, 4532, 4533, 4534, 4535, 4536, 4537, 4538, 4539, 4540, 4541, 4542, 4543, 4544, 4545, 4546, 23626, 4548, 4549, 4550, 23628, 6603, 6605, 6607, 4561, 6609, 6611, 6613, 6615, 6617, 23627, 6619, 2130, 4574, 4575, 6621, 6623, 6625, 6626, 6627, 6628, 4582, 2132, 4583, 4584, 4585, 6629, 6631, 6633, 6634, 6635, 4592, 4593, 4594, 4595, 6636, 6637, 6638, 6639, 6640, 4601, 4602, 2136, 4603, 6644, 6645, 6646, 6647, 6648, 6649, 6650, 6651, 6652, 6653, 6654, 6209, 6656, 6657, 6658, 6659, 6210, 6661, 2140, 6663, 6664, 6211, 6666, 6667, 6668, 6669, 6212, 6671, 6672, 2586, 6675, 2588, 6213, 6677, 6679, 2592, 2593, 2594, 2595, 6214, 2597, 2598, 2599, 2600, 6215, 23630, 6216, 2606, 6217, 2609, 2611, 2613, 6218, 2617, 2618, 6219, 23629, 23631, 6220, 6221, 583, 584, 585, 586, 587, 6222, 6223, 2643, 6224, 23632, 6225, 6226, 2654, 4191, 6227, 6228, 6229, 23633, 6230, 6231, 6232, 6233, 6234, 6641, 23634, 6235, 6642, 2702, 6236, 2704, 6643, 2706, 2708, 2709, 2710, 2711, 2712, 6237, 2714, 6238, 6239, 23635, 6240, 6241, 6242, 6243, 6244, 6245, 6246, 6247, 6655, 6248, 6249, 6250, 727, 734, 737, 739, 740, 741, 742, 6660, 744, 2792, 746, 2793, 748, 2794, 750, 751, 2796, 753, 2798, 755, 2800, 757, 2801, 759, 760, 2803, 2805, 2807, 2809, 2810, 766, 6665, 768, 770, 772, 774, 775, 776, 2825, 778, 2827, 780, 2829, 2831, 2833, 2836, 2837, 2838, 6670, 2840, 2842, 2844, 2846, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 6673, 6681, 876, 880, 883, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 3053, 5101, 3055, 3056, 3057, 5102, 3059, 3060, 5103, 1014, 3063, 3064, 1015, 3066, 3067, 3068, 1016, 1017, 1018, 3072, 3073, 3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 1034, 3082, 1036, 1037, 1038, 3083, 1040, 1041, 3085, 3087, 3090, 1045, 3092, 1047, 3094, 3088, 3089, 3099, 3100, 3101, 3093, 3095, 3096, 3097, 3106, 3098, 3108, 3102, 3103, 3104, 3105, 3107, 3109, 3110, 3111, 3112, 3113, 3114, 3115, 3116, 3117, 3118, 3119, 3120, 3062, 3121, 3122, 3123, 3124, 3125, 3126, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 23614, 5192, 23616, 23617, 23618, 23619, 23620, 23621, 3151, 3152, 3069, 3153, 3154, 3155, 3156, 3157, 3158, 3159, 3160, 5105, 3071, 5106, 5211, 5212, 5107, 5213, 5214, 5215, 3171, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 5108, 5109, 5110, 5251, 5252, 5253, 5254, 5255, 5257, 5258, 5259, 3084, 5121, 3086, 5122, 5123, 1019, 5124, 5125, 5126, 3091, 5127, 5128, 5129, 5130, 5353, 5361, 5141, 5142, 5143, 5144, 5145, 5408, 5146, 5412, 5147, 5148, 5149, 5150, 5151, 5152, 5153, 3401, 3402, 3403, 3404, 3405, 3406, 5154, 3408, 5155, 5450, 5451, 5453, 5454, 5156, 5455, 5457, 5458, 5459, 5157, 5460, 5462, 5463, 5464, 5158, 5466, 5467, 5468, 5470, 5159, 5471, 5472, 5474, 5475, 5160, 5165, 5166, 5167, 5168, 5104, 5169, 5170, 5173, 67001, 5181, 5702, 5704, 5707, 5708, 5709, 5711, 5712, 5714, 1621, 5717, 5720, 5722, 1627, 3676, 5723, 5724, 3679, 3680, 1633, 3681, 3682, 1636, 5728, 1638, 5731, 1640, 5734, 1642, 5737, 1644, 5740, 1646, 5742, 1648, 5745, 1654, 5750, 1656, 1658, 1660, 1663, 5216, 5801, 5802, 5803, 5804, 5805, 5806, 5807, 5808, 5809, 5810, 5811, 5812, 5813, 5814, 5815, 5816, 5817, 5818, 5819, 5820, 5821, 5822, 5823, 5824, 5825, 5826, 5827, 5828, 5829, 5830, 5831, 5832, 5833, 5834, 5835, 5836, 5837, 5838, 5839, 5840, 5841, 5842, 5843, 5844, 5845, 5846, 5847, 5848, 5849, 5850, 5851, 5852, 5853, 5854, 5855, 5856, 5857, 5858, 5859, 5860, 5861, 5862, 5863, 5864, 5865, 5866, 5867, 5868, 5869, 5870, 5871, 5872, 5873, 5874, 5875, 5882, 5885, 5886, 5888, 5890, 5892, 5894, 5896, 3967, 3975, 6026, 6027, 6028, 6029, 6030, 6031, 6032, 6033, 6034, 6035, 1991, 1998, 1999, 2000, 23601, 23602, 23603, 23604, 23605, 23606, 23607, 23608, 23609}

In [170]:
type(difference)

set

In [171]:
bond_match_not_found=list(difference)

In [172]:
match_not_found_in_donor=receiver_data[receiver_data['bond_no'].isin(difference)]

In [173]:
match_not_found_in_donor

,Sr No.,enchash_date,Name of the Political Party,Account no. of\nPolitical Party,Prefix,bond_no,Denominations,branch_code,Pay Teller
0,1,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,775,10000000,800,2770121
1,2,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3975,10000000,800,2770121
2,3,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,OC,3967,10000000,800,2770121
4,5,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,126,1000000,800,2770121
5,6,2019-04-12,ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM,*******5199,TL,116,1000000,800,2770121
...,...,...,...,...,...,...,...,...,...
2801,2802,2019-04-25,BHARATIYA JANATA PARTY,*******8244,OL,103,100000,691,3300196
2804,2805,2019-04-25,BHARATIYA JANATA PARTY,*******8244,OL,168,100000,691,3300196
2853,2854,2019-04-25,SHIVSENA,*******4444,OL,2142,100000,300,6283527
2854,2855,2019-04-25,SHIVSENA,*******4444,OL,2144,100000,300,6283527
2855,2856,2019-04-25,SHIVSENA,*******4444,OL,2146,100000,300,6283527

In [174]:
match_not_found_in_donor['Denominations'].sum()

5345110000

In [175]:
x=match_not_found_in_donor.groupby(['Name of the Political Party'])['Denominations'].sum()

In [176]:
x

Name of the Political Party
ADYAKSHA SAMAJVADI PARTY                                           7700000
ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM                          45400000
ALL INDIA TRINAMOOL CONGRESS                                     130000000
BHARAT RASHTRA SAMITHI                                           230500000
BHARATIYA JANATA PARTY                                          4132000000
BIHAR PRADESH JANTA DAL(UNITED)                                   20000000
DRAVIDA MUNNETRA KAZHAGAM (DMK)                                   60000000
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                          548710000
SHIVSENA                                                          40300000
TELUGU DESAM PARTY                                                60000000
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CONGRESS PARTY)      70500000
Name: Denominations, dtype: int64

In [177]:
x.sort_values(ascending=False)

Name of the Political Party
BHARATIYA JANATA PARTY                                          4132000000
PRESIDENT, ALL INDIA CONGRESS COMMITTEE                          548710000
BHARAT RASHTRA SAMITHI                                           230500000
ALL INDIA TRINAMOOL CONGRESS                                     130000000
YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU CONGRESS PARTY)      70500000
DRAVIDA MUNNETRA KAZHAGAM (DMK)                                   60000000
TELUGU DESAM PARTY                                                60000000
ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM                          45400000
SHIVSENA                                                          40300000
BIHAR PRADESH JANTA DAL(UNITED)                                   20000000
ADYAKSHA SAMAJVADI PARTY                                           7700000
Name: Denominations, dtype: int64

In [178]:
#which person/company has bought highest amount of bond but havent clamied by any party?
unclaimed_bonds = donors_data[donors_data['Status'] == 'Expired']

#Grouping the data by 'Name of Purchaser' and sum the 'bond_amount'
unclaimed_sum = unclaimed_bonds.groupby('Name of the Purchaser')['bond_amount'].sum()

#Finding the Purchaser with the highest total amount of unclaimed bonds
highest_unclaimed_buyer = unclaimed_sum.idxmax()
highest_unclaimed_amount = unclaimed_sum.max()

highest_unclaimed_buyer, highest_unclaimed_amount

('FUTURE GAMING AND HOTEL SERVICES PR', 30000000)

In [179]:
#for which amount highest no of bond purchased?

# Grouping by purchase amount and count the number of purchases for each amount
amount_counts = donors_data['bond_amount'].value_counts()

# Finding the amount with the highest number of purchases
max_purchased_amount = amount_counts.idxmax()
max_purchases = amount_counts.max()

print(f"The amount with the highest number of bond purchases is {max_purchased_amount} with {max_purchases} purchases.")

The amount with the highest number of bond purchases is 10000000 with 11671 purchases.

In [180]:
#what if i want to identify percentage not the actual number.

# Calculating the percentage of total purchases for each amount
total_purchases = amount_counts.sum()
amount_percentages = (amount_counts / total_purchases) * 100

# Find the amount with the highest percentage of purchases
max_purchased_amount = amount_percentages.idxmax()
max_purchase_percentage = amount_percentages.max()

print(f"The amount with the highest percentage of bond purchases is {max_purchased_amount} with {max_purchase_percentage:.2f}% of the total purchases.")

The amount with the highest percentage of bond purchases is 10000000 with 61.85% of the total purchases.

In [187]:
total_bond_amount = receiver_data.groupby('Name of the Political Party')['Denominations'].sum().reset_index()

print(total_bond_amount)

                          Name of the Political Party  Denominations
0                                     AAM AADMI PARTY      654500000
1                            ADYAKSHA SAMAJVADI PARTY      140500000
2            ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM       60500000
3                        ALL INDIA TRINAMOOL CONGRESS    16095314000
4                              BHARAT RASHTRA SAMITHI    12147099000
5                              BHARATIYA JANATA PARTY    60605111000
6                     BIHAR PRADESH JANTA DAL(UNITED)      140000000
7                                     BIJU JANATA DAL     7755000000
8                     DRAVIDA MUNNETRA KAZHAGAM (DMK)     6390000000
9                                   GOA FORWARD PARTY        3500000
10              JAMMU AND KASHMIR NATIONAL CONFERENCE        5000000
11                                     JANASENA PARTY      210000000
12                             JANATA DAL ( SECULAR )      435000000
13                             JHARKHAND MUKTI MORCHA      135000000
14                      MAHARASHTRAWADI GOMNTAK PARTY        5500000
15     NATIONALIST CONGRESS PARTY MAHARASHTRA PRADESH      310000000
16            PRESIDENT, ALL INDIA CONGRESS COMMITTEE    14218655000
17                                RASHTRIYA JANTA DAL      735000000
18                                SHIROMANI AKALI DAL       72600000
19                                           SHIVSENA     1593814000
20                            SIKKIM DEMOCRATIC FRONT       55000000
21                           SIKKIM KRANTIKARI MORCHA      365000000
22                                 TELUGU DESAM PARTY     2188800000
23  YSR  CONGRESS PARTY  (YUVAJANA SRAMIKA RYTHU C...     3370000000

In [188]:
#first and last bond purchased date
donors_data['Purchase date'] = pd.to_datetime(donors_data['purchase_date'])

# Find the first and last bond purchased date, along with the corresponding donor
first_bond_purchased = donors_data.loc[donors_data['Purchase date'].idxmin()]
last_bond_purchased = donors_data.loc[donors_data['Purchase date'].idxmax()]

print("First bond purchased:")
print(f"Date: {first_bond_purchased['purchase_date']}")
print(f"Donor: {first_bond_purchased['Name of the Purchaser']}")

print("\nLast bond purchased:")
print(f"Date: {last_bond_purchased['purchase_date']}")
print(f"Donor: {last_bond_purchased['Name of the Purchaser']}")

First bond purchased:
Date: 2019-04-12 00:00:00
Donor: A B C INDIA LIMITED

Last bond purchased:
Date: 2024-01-11 00:00:00
Donor: ABHINANDANSTOCKBROKINGPVTLTD

In [189]:
#first and last bond reedemed date
receiver_data['encash_date'] = pd.to_datetime(receiver_data['enchash_date'])

# Find the first and last bond redeemed date, along with the corresponding political party
first_bond_encashed = receiver_data.loc[receiver_data['encash_date'].idxmin()]
last_bond_encashed = receiver_data.loc[receiver_data['encash_date'].idxmax()]

print("First bond encashed:")
print(f"Party: {first_bond_encashed['Name of the Political Party']}")
print(f"Date: {first_bond_encashed['enchash_date']}")

print("\nLast bond encashed:")
print(f"Party: {last_bond_encashed['Name of the Political Party']}")
print(f"Date: {last_bond_encashed['enchash_date']}")

First bond encashed:
Party: ALL INDIA ANNA DRAVIDA MUNNETRA KAZHAGAM
Date: 2019-04-12 00:00:00

Last bond encashed:
Party: BHARATIYA JANATA PARTY
Date: 2024-01-24 00:00:00

In [192]:
donors_data['Journal Date'] = pd.to_datetime(donors_data['Journal Date'])

# Calculate the year from the date
donors_data['Journal Year'] = donors_data['Journal Date'].dt.year

# Group the data by year and count the number of bonds
purchase_counts = donors_data.groupby('Journal Year')['Status'].count().reset_index()

# Filter the claimed bonds
claimed_bonds = donors_data[donors_data['Status'] == 'Paid']

# Calculate the year from the date of claimed bonds
claimed_bonds['Journal Year'] = claimed_bonds['Journal Date'].dt.year

# Group the claimed bonds by year and count the number of bonds
claim_counts = claimed_bonds.groupby('Journal Year')['Status'].count().reset_index()

print("Year-wise Bond Purchases:")
print(purchase_counts)
print("\nYear-wise Bond Claims:")
print(claim_counts)

Year-wise Bond Purchases:
   Journal Year  Status
0          2019    3154
1          2020     460
2          2021    2647
3          2022    5314
4          2023    6399
5          2024     897

Year-wise Bond Claims:
   Journal Year  Status
0          2019    3103
1          2020     459
2          2021    2642
3          2022    5300
4          2023    6365
5          2024     872

C:\Users\ASUS\AppData\Local\Temp\ipykernel_21624\4133504020.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  claimed_bonds['Journal Year'] = claimed_bonds['Journal Date'].dt.year